@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Live Geospatial Data & Signal Tracking</title>
    <link rel="stylesheet" href="css/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/leaflet/leaflet.css" />
    <link rel="stylesheet" href="css/leaflet/markercluster.css"/>
    <link rel="stylesheet" href="css/leaflet/markercluster.default.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css" />

    <script src="js/app.js"></script>
    <script src="js/jquery/vendor.bundle.base.js"></script>
    <script src="js/leaflet/leaflet.js"></script>
    <script src="js/leaflet/leaflet.markercluster.js"></script>
    <script src="js/leaflet/leaflet-map.js"></script>

    <script src="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"></script>

    <link rel="icon" type="image/png" href="images/logo.png" />

    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                © 2025 <strong>GeoStream</strong> — Live Geospatial Data & Signal Tracking. All rights reserved.
            </span>
        </div>
    </footer>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>